.ide-file-list__container {
    .ide-file-list__title {
        color: #f0f2f5;
        padding-left: 16px;
    }

    .ide-file-list__action-button {
        padding: 8px;
    }

    .ide-file-list__user-list {
        padding: 8px;

        .ide-file-list__user-list-item {
            padding: 2px;
        }
    }

}
